name: Gatsby Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      #- uses: bahmutov/npm-install@master
      - uses: enriikke/gatsby-gh-pages-action@v2
        env:
          SEGMENT_PROD_KEY: ${{ secrets.SEGMENT_PROD_KEY }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        with:
          access-token: ${{ secrets.REPO_ACCESS_TOKEN }}
          deploy-branch: gh-pages
          gatsby-args: --verbose
          skip-publish: true
