name: Check Markdown links

on: push

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: bahmutov/npm-install@master
      - uses: gaurav-nelson/github-action-markdown-link-check@master
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
          folder-path: 'content/blog'
          max-depth: 2
