name: Deploy release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check GitHub Status
        uses: crazy-max/ghaction-github-status@v1
      - uses: actions/checkout@main
      - uses: bahmutov/npm-install@master
      - uses: enriikke/gatsby-gh-pages-action@v2
        env:
          SEGMENT_PROD_KEY: ${{ secrets.SEGMENT_PROD_KEY }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        with:
          access-token: ${{ secrets.REPO_ACCESS_TOKEN }}
          deploy-branch: gh-pages
          gatsby-args: --verbose
